
<div class="container">
    <div class="flex-container">
        <br>
        <br>
        <img src="img/face.png" height = 'auto' width = 100>
        <br>
        <br>
        <a href="/auth/google" class="waves-effect waves-light btn social google">
        <i class="fa fa-google"></i> Entrar con Google</a>
    </div>     
</div>